light-yellow = #FFFFE3
light-purple = #2F2933
dark-purple  = #240E33
red          = #FF3800
light-blue   = #4CA4A6
dark-blue    = #009393

html, body
  padding    0
  margin     0
  font       100% Georgia, serif
  min-height 100%
  color      #333

html
  background    linear-gradient(top, light-blue, dark-purple)

nav
  background     rgba(10, 0, 5, .05)
  padding        20px 0
  color          black
  text-shadow    0 1px 0 rgba(255, 255, 255, .25)
  font           3em Amaranth, "Helvetica Neue", sans-serif
  font-weight    700
  letter-spacing -1px
  margin-top     20px
  margin-bottom  20px
  span
    color        dark-purple
    font-weight  400

.container
  width   700px
  margin  0 auto

.island
  padding        20px 40px
  background     linear-gradient(top, rgba(255, 255, 255, .85), rgba(245, 235, 255, .85))
  border-radius  4px
  box-shadow     1px 1px 10px rgba(0, 0, 0, .35)

  &.one_half
    width          290px
    float          left

.boxes
  clearfix()
  width          780px
  margin         0 auto
  .one_half:first-child
    margin-right   40px

.catchphrase
  font           2em "Helvetica Neue", sans-serif
  font-weight    700
  letter-spacing -1px
  text-shadow    0 1px 0 rgba(255, 255, 255, .25)
  color          black
  text-align     center
  width          400px
  margin         1em auto

p
  line-height    1.6em
  color          light-purple

a
  color             dark-blue
  text-decoration   none
  &:hover
    text-decoration underline

::selection, ::-moz-selection
  background   red
  text-shadow  none

.caps
  text-transform uppercase